@import "variables";

body {
	margin: 0;
	background-color: #000;
	font-family: sans-serif, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo";
	line-height: 1.2em;
	overflow: hidden;
}

.nosupport {
	color: silver;
}

#secondaryRegionTreePane {
	background-color: #888888;
}
#primaryViewerPane {
	background-color: #000000;
}

div#zav_logoPlaceHolder {
	height: $zavlogo-height;
	background-color: #333;
}
div#zav_logoContainer {
	position: fixed;
	top: 6px;
	left: 16px;
	min-width: 250px;
	height: $zavlogo-height;
	z-index: 20;

	-webkit-user-select: none; /* Safari・Chrome */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE */
	-o-user-select: none; /* Opera */
	-webkit-user-drag: none; 
	-khtml-user-drag: none; 
	-moz-user-drag: none; 
	-o-user-drag: none; 
	user-drag: none; 

	overflow-x: visible;
	//display: flex;
	//flex-direction: row;
}

div#zav_logoContainer > div {
	display: inline-block;
	vertical-align: middle;
	overflow-x: visible;
}

#bm_logo:focus {
	outline: none;
}


div#zav_licensecontainer {
	position: fixed;
	z-index: 1;
	top: 5px;
	width: 200px;
	margin-left: calc( 50vw - 100px );
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;	
}

div#zav_licensecontainer .zav_miscLinks {	
	color: #106ba3;
	font-size: 10px;
	letter-spacing: 1px;
	cursor: pointer;
	text-decoration: none;
}
div#zav_licensecontainer .zav_miscLinks:hover {	
	text-decoration: underline;
}

.Resizer {
	background: #000;
	opacity: 0.2;
	z-index: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.Resizer.horizontal {
	height: 11px;
	margin: -5px 0;
	border-top: 5px solid rgba(255, 255, 255, 0);
	border-bottom: 5px solid rgba(255, 255, 255, 0);
	cursor: row-resize;
	width: 100%;
}

.Resizer.horizontal:hover {
	border-top: 5px solid rgba(0, 0, 0, 0.5);
	border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
	width: 11px;
	margin: 0 -5px;
	border-left: 5px solid rgba(255, 255, 255, 0);
	border-right: 5px solid rgba(255, 255, 255, 0);
	cursor: col-resize;
}

.Resizer.vertical:hover {
	border-left: 5px solid #0830cc;
	border-right: 5px solid #0830cc;
}
.Resizer.disabled {
	cursor: not-allowed;
}
.Resizer.disabled:hover {
	border-color: transparent;
}

.delin-NOTselect {
	transition:
		fill-opacity 0.5s,
		stroke-opacity 0.3s;
}

.delin-select {}

.delin-high {
	transition:
		fill-opacity 0.5s,
		//immediate change to border when highlighting
		stroke-opacity 0s;
}

.delin-NOThigh {
	//slow fade-out of border, mainly for transient highlighting via shift-click  
	transition: stroke-opacity 0.8s 0.05s;
}

#region_labels {
	//slow fade-out of label text
	transition: opacity 0.5s;
}

.zav-region-label {
    font-family: sans-serif;
	stroke: #000;
	fill: #FFF;
	stroke-opacity: 0.6;
	stroke-linecap: round;
	stroke-linejoin: round;
	paint-order: stroke;

	dominant-baseline: middle;
	text-anchor: middle;	


	cursor: default;

	transition: font-size 0.6s ease-out;
}