body {
	margin: 0;
	background-color: #000;
	font-family: sans-serif, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo";
	line-height: 1.2em;
	overflow: hidden;
}

#secondaryRegionTreePane {
	background-color: #888888;
}
#primaryViewerPane {
	background-color: #000000;
}
