.zav-Drawer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #2b2b2b;
}

.zav-Drawer[data-isexpanded="false"] {
    width: 42px; 
}

.zav-Drawer_handle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 13px;
    background: transparent;
    z-index: 100;
    font-weight: bold;
    color: white;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zav-Drawer_handle:hover {
    background: #646464;
}

.zav-Drawer_expandedCont {
    margin-left: 16px;
    height: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: space-evenly;
}

.zav-Drawer[data-isexpanded="false"] > .zav-Drawer_expandedCont {
    display: none;
    width: 0;
}

.zav-Drawer_collapsedCont {
    margin-left: 15px;
    height: 100%;

    width: 24px;

    display: flex;  
    flex-direction: column;
    text-align: center;
}

.zav-Drawer[data-isexpanded="true"] > .zav-Drawer_collapsedCont {
    display: none;
    width: 0;
}