div.zav_guideContent {
    text-align: left;
}

//override Elementor styling when embedded in WP
.zav_guideContent table  {
	border-style: none;
}

.zav_guideContent table thead th {
	padding: 0px;
	border-color: transparent;
	background: transparent;
}

.zav_guideContent table tbody td {
	padding: 3px 10px;
	border-color: transparent;
	text-align: unset;
	vertical-align: baseline;
}

.zav_keyboardkey {
	border-style: solid;
	border-width: 1px;
	border-color: silver grey grey silver;
	border-radius: 6px;
	padding: 1px 3px;
	font-size: small;
}

.zav_guideContent ul li  {
	margin-top: 10px;
}
