/* Position-view panel */

.posTbl {
    display: table;
    color: grey;
}
.posTbl > div {
	text-align: left;
	display: table-row;
}
.posTbl > div > div {
	display: table-cell;
}
#posviewPanel1 > div > div:first-child {
	width: 0px;
	white-space: nowrap;
	padding-left: 2px;
	padding-right: 2px;
}
#posviewPanel1 > div > div:last-child {
	text-align: right;
	padding-left: 2px;
	padding-right: 4px;
}

#posviewPanel2 {
	text-align: left;
	top: 2px;
	position: relative;
	overflow: hidden;
}
#posviewPanel2 > div {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
#posviewPanel2 .posTbl > div > div {
	text-align: right;
	padding-left: 1px;
	padding-right: 1px;
}
#posviewPanel2 .posTbl > div > div:not(:first-child) {
	width: 10px;
}

#posDis {
    margin-bottom: 2px;
    color: grey;
}

#posdistance {
	text-align: right;
	padding-left: 5px;
	min-width: 34px;
	display: inline-block;
}