/* Position-view panel */

.posTbl {
	display: table;
}
.posTbl > div {
	text-align: left;
	display: table-row;
}
.posTbl > div > div {
	display: table-cell;
}


.distMeasure {
	color: grey;
}

.posDis {
	margin-bottom: 2px;
}

.posdistance {
	text-align: right;
	padding-left: 5px;
	min-width: 34px;
	display: inline-block;
}
