/* Position-view panel */


.distMeasure {
	color: grey;
}

.posDis {
	margin-bottom: 2px;
}

.posdistance {
	text-align: right;
	padding-left: 5px;
	min-width: 34px;
	display: inline-block;
}

.posPoints {
	margin-top: 6px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
