.openseadragon {
	width: 100%;
	height: 100%;
	border: none;
	color: #333; /* text color for messages */
	background-color: black;
	z-index: -1000;
}

.overlay {
	border: thin solid #444;
}

// region delineation SVG fill up entire parent overlay 
.overlay > * {
	height: 100%;
	width: 100%;
}

#poscanvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	margin: 0;
	padding: 0;
}

@keyframes loading-effet {
	from {
		width: 35px;
		opacity: 1;
	}

	to {
		width: 350px;
		opacity: 0;
	}
}

.zav-loader-widget {
	background-color: rgb(0, 255, 217);
	height: 15px;
	filter: blur(10px);
	border-radius: 50%;

	animation: 0.6s linear 0.05s infinite loading-effet;
}