
.posTbl {
	display: table;
}
.posTbl > div {
	text-align: left;
	display: table-row;
}
.posTbl > div > div {
	display: table-cell;
}



.posLabel {
	width: 0px;
	white-space: nowrap;
	padding-right: 4px;
}
.posValue {
	text-align: right;
	padding-left: 4px;
}
