.zav-ActionContainer {
    margin: 5px 0;
    user-select: none;
}


.zav-Slider .bp3-slider-progress {
    background-color: silver;
}

.zav-QActSliceSlider {
    display: inline-block;
    width: 160px;
}

.zav-QActSliceSlider .bp3-slider-label {
    font-size: 10px;
}
