@import "variables";

$region-bullet-size: 13px;
$region-expand-handle-size: $region-bullet-size;
$region-searchbox-height: 34px;
$region-treestatus-height: 20px;
$region-detailpane-height: 150px;

.zav-Tree {
	position: absolute;
	top: $zavlogo-height + $region-searchbox-height;
	right: 0;
	bottom: $region-treestatus-height;
	left: 0;
	z-index: 10;

	display: block;
	margin: 0;
	padding: 0;

	box-sizing: content-box;
	list-style-type: none;
	list-style-image: none;
	background-color: #e1e1e1;
	width: 100%;
	overflow-y: scroll;
	overflow-x: scroll;
}

.zav-Tree[data-hasselectedregion="true"] {
	bottom: $region-treestatus-height + $region-detailpane-height;
}

.zav-TreeSubItems {
	display: block;
	padding-left: 0;
	margin-left: 25px;
	margin-top: 0;
	list-style-type: none;
}

.zav-TreeSubItems[data-ishovered="true"] {
	background: #e7f4f9;
}

.zav-TreeItemCont {
	display: block;
	font-size: 13px;
	line-height: 22px;
	margin-top: 2px;
	border-left: dotted 1px grey;
}

.zav-TreeItemCont[data-islastchild="true"] {
	border-left-color: transparent;
}

.zav-TreeItemCont[data-isexpanded="false"] > ul {
	display: none;
}

.zav-TreeItemLink {
	display: inline-block;
	height: 14px;
	width: 16px;
	position: relative;
	top: -3px;
	left: -1px;
	border-left: dotted 1px transparent;
	border-bottom: dotted 1px grey;
}

.zav-TreeItemLink[data-islastchild="true"] {
	border-left-color: grey;
}

.zav-TreeItem {
	display: inline-block;
	white-space: nowrap;
}

.zav-TreeItemHeader {
	cursor: pointer;
	padding: 1px 5px 1px 1px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
}

.zav-TreeItem[data-exists="false"] > .zav-TreeItemHeader {
	color: grey;
	cursor: initial;
}

.zav-TreeItem[data-exists="true"][data-isselected="false"] > .zav-TreeItemHeader:hover {
	background: #e7f4f9;
}

.zav-TreeItem[data-isselected="true"] > .zav-TreeItemHeader {
	background: $region-selected-color;
}

.zav-TreeItemCont[data-highlight="0"] {
	display: none;
}

.zav-TreeItem[data-highlight="F"] > .zav-TreeItemHeader {
	color: grey;
}
.zav-TreeItem[data-highlight="H"] > .zav-TreeItemHeader {
	color: #8b0000;
}

.zav-TreeItemLabelBullet {
	display: inline-block;
	height: $region-bullet-size;
	width: $region-bullet-size;

	position: relative;
	top: 4px;

	border: solid 2px transparent;
	border-radius: $region-bullet-size;
	margin-right: 7px;
}

.zav-TreeItemLabelBullet[data-exists="false"] {
	border-color: #fff;
}

.zav-TreeItemHandle {
	cursor: pointer;
	border: dotted 1px lightgrey;
	background-color: white;

	position: relative;

	display: inline-block;
	width: $region-expand-handle-size;
	height: $region-expand-handle-size;
	text-align: center;
	vertical-align: middle;

	margin-right: 3px;

	font-weight: bold;
	color: gray;
}

.zav-TreeItemHandle[data-haschild="false"] {
	cursor: default;
	background-color: transparent;
	border-color: transparent;
	height: 0;
}

.zav-TreeItemHandleText {
	top: -5px;
	position: relative;
}

.zav-TreeItemHandle[data-isexpanded="false"] .zav-TreeItemHandleText::before {
	content: "+";
}
.zav-TreeItemHandle[data-isexpanded="true"] .zav-TreeItemHandleText::before {
	content: "-";
}

.zav-TreeItemHandle[data-haschild="false"] .zav-TreeItemHandleText::before {
	content: "";
}

.zav-TreeStatus {
	position: absolute;
	width: 100%;
	height: $region-treestatus-height;
	bottom: 0px;

	overflow: hidden;

	border-top: solid 2px #80808042;
	background-color: #e1e1e1;
}

.zav-TreeStatusContent {
	padding: 1px;
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.zav-SearchBox {
	height: $region-searchbox-height;
	background: #333;
	border-bottom: solid 2px #80808042;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.zav-RegionDetail .bp3-popover-content {
	padding: 4px !important;
}

.zav-RegionDetail .bp3-popover-arrow {
	display: none;
}

.zav-RegionDetailContent {
	background-color: #e1e1e1;
	padding: 8px;
}

.zav-RegionDetailGroupings {
	padding: 2px 4px;
	font-size: 13px;
}

.zav-RegionGrpngsTarget {
	margin-left: 12px;
}

.zav-RegionToaster .bp3-toast {
	background-color: #e1e1e1cc;
}

.zav-RegionDetailPane {
	position: absolute;
	width: 100%;
	height: $region-detailpane-height;
	bottom: $region-treestatus-height;
	z-index: 5;
	border: solid 1px #fff;
	overflow-x: hidden;
	overflow-y: auto;
}
