/* ▼ ------ Slider panel ------ */

/* Display navigation */
.navigatorParentClass {
	margin: 10px 0 0 10px;
	top: 60px;
	right: 10px;
	width: 210px;
	z-index: 80;
}
.navigatorChildClass {
	width: 208px;
	height: 120px;
	background-color: black;
	border-top: 1px solid rgba(0, 0, 0, 0.6);
	border-left: 1px solid rgba(0, 0, 0, 0.6);
	border-right: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* Hide button */
.hidebtn {
	margin: 0;
	display: block;
	min-height: 36px;
}
.hidebtn button {
	margin: 10px 0 8px 10px;
	font-size: 13px;
	color: #333;
	width: 130px;
	cursor: pointer;
}
.hidebtn #editbtn {
	width: 150px;
	margin-left: 4px;
}

/* Set of data name +  slider + transparency BOX */
.dataset:first-child {
	margin: 0 0 0 0;
}
.dataset {
	margin: 3px 0 0 0;
	text-align: left;
	font-size: 12px;
	line-height: 13px;
	color: #e0e0e0;
	text-shadow: 0 0 3px rgba(0, 0, 0, 1);
	/* white-space:nowrap; */
}

/* Data name */
.dataset label {
	font-weight: bold;
	color: #fff;
}

/* Each radio button ON/OFF */
.btnOff {
	background-position: 0 top;
	cursor: pointer;
}
.btnOn {
	background-position: 0 bottom;
	cursor: default;
}

/* sliderGroup */

#sliderGroup1 {
	padding-bottom: 2px;
	max-height: calc(100vh - 300px);
	min-height: 40px;
	overflow-y: auto;
}

#sliderGroup1 span {
	text-decoration: none;
}

#sliderGroup1 span.selected {
	text-decoration: underline;
	color: #ffffff;
	/*font-weight: bold;*/
}

#sliderGroup1 span.selected:before {
	content: "-";
}

#sliderGroup1 .dataset > div,
#sliderGroup2 .dataset {
	width: 100%;
	display: table;
}
#sliderGroup1 .dataset > div > div,
#sliderGroup2 .dataset > div {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
#sliderGroup1 .dataset > div > div:first-child {
	width: auto;
	padding-right: 2px;
}

#sliderGroup1 input[type="range"] {
	width: 100%;
}

#sliderGroup2 input[type="range"] {
	width: calc(100% - 50px);
	float: right;
}
#sliderGroup2 .dataset {
	margin: 8px 0 0 0;
	line-height: normal;
}

.zav-OpacitySlider {
	display: inline-block;
	width: 200px;
	margin: auto;
}

.zav-OpacitySlider .bp3-slider-label {
	font-size: 10px;
}

.zav-AdjusterItem .bp3-control {
	margin-bottom: 4px;
}