/* ▼ ------ Sub-view panel ------ */
/* Each subview */
.axialHolder,
.coronalHolder,
.sagittalHolder {
	width: 220px;
	height: 220px;
	float: right;
}
.axialHolder {
	margin: 21px 0 0 0;
	background-image: url("../img/bg_axialHolder.png");
}
.coronalHolder {
	margin: 21px 0 0 0;
	background-image: url("../img/bg_coronalHolder.png");
}
.sagittalHolder {
	margin: -2px 5px 0 0;
	background-image: url("../img/bg_sagittalHolder.png");
}

/* Label of subview */
.axialLabel,
.coronalLabel,
.sagittalLabel {
	position: absolute;
	margin: 2px 0 0 4px;
	height: 21px;
	background-repeat: no-repeat;
}
.axialLabel {
	width: 100px;
	background-image: url("../img/btn_axial.png");
}
.coronalLabel {
	width: 120px;
	background-image: url("../img/btn_coronal.png");
}
.sagittalLabel {
	width: 120px;
	background-image: url("../img/btn_sagittal.png");
}

/* Nextech Edt */
.spinControl {
	margin: 2px 0 0 125px;
	height: 21px;
}
.spinner {
	height: 21px;
	display: inline-block;
	position: relative;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	overflow: hidden;
	font-size: 10px;
	text-align: center;
}
.spinner-input {
	text-align: right;
	width: 25px;
	margin-right: 15px;
	border: none;
	padding: 0 3px;
	height: 23px;
	line-height: 23px;
	border-right: 1px solid #dcdcdc;
	ime-mode: disabled;
}
.spinner-button {
	text-decoration: none;
	position: absolute;
	right: 0;
	background: #efefef;
	height: 10px;
	line-height: 10px;
	width: 15px;
	cursor: pointer;
}
.spinner-up {
	top: 0;
}
.spinner-down {
	bottom: 0;
	border-top: 1px solid #dcdcdc;
}
.spinner-button > div {
	width: 9px;
	height: 9px;
	margin: 1px 3px;
}
.spinner-up > div {
	background-image: url("../img/arrow.png");
	background-position: top;
}
.spinner-down > div {
	background-image: url("../img/arrow.png");
	background-position: bottom;
}
.spinner_max {
	width: 22px;
	margin-right: 21px;
	margin-top: 3px;
	font-size: 12px;
	color: #fff;
	float: right;
}