$subview-width: 200px;
$subview-height: 200px;
$subview-total-padding: 20px;



.zav-SubViewSlider {
	width: $subview-width;
	margin: auto;
}

.zav-SubVSliceSlider {
	display: inline-block;
}

//remove outline when Switch is focused
.zav-SubViewSwitch .bp3-control-indicator {
	outline: none !important;
}
