//Minimal theming


//Light theme
.App.theme-light .zav-Drawer {
	background-color: #a2a2a2;
}
.App.theme-light  .zav-Drawer_handle {
	background-color: #f2f2f2;
	
}

.App.theme-light  .zav-SearchBox {
	background-color: #868686;
	
}
.App.theme-light  div#zav_logoPlaceHolder {
	background-color: #868686;
}