@media only screen and (max-width: 885px) {
	.sliderPanel {
		visibility: hidden;
	}
	.subviewPanel {
		visibility: hidden;
	}
	.posviewPanel {
		visibility: hidden;
	}
}
@media only screen and (max-height: 80px) {
	.sliderPanel {
		visibility: hidden;
	}
	.subviewPanel {
		visibility: hidden;
	}
	.posviewPanel {
		visibility: hidden;
	}
}

#ZAV-rightPanel {
	//always be on top of region editing panel
	z-index: 10;
}

.zav-TitledCard {
	min-width: 240px;

	font-size: 12px;
	color: #ffffff;
	background-color: #66666680;

	user-select: none;

	padding: 4px 8px;
	margin: 10px 14px 0 0;

	border: solid 1px #9595955d;
	border-radius: 4px;
}

.zav-TitledCardTitle {
	margin-top: 3px;
	margin-bottom: 6px;
	border-bottom: dotted 1px #c0c0c0b3;
	font-variant: small-caps;
	font-size: 10px;
	font-weight: bold;

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.zav-TitledCardButton {
	border: solid 1px #757575;
	padding: 1px 2px 0 2px;
	border-radius: 5px;
}
.zav-TitledCardButton:hover {
	border-color: #bbbbbb;
}

.zav-StatusBar {
	position: absolute;
	z-index: 150;
	bottom: 10px;
	width: 100%;
}

.zav-StatusBarContent {
	margin: auto;
	width: 50%;
	background-color: #1835798f;
	color: #fff;
	font-size: 16px;

	border-radius: 2px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
	min-height: 20px;
	opacity: 0;
	transition: opacity 0.8s;
}

.zav-StatusBarContent.hasStatus {
	opacity: 1;
	transition: opacity 0s;
}

.zav-StatusBarHint {
	 color: #dbdbff;
	 font-size: 12px;
	 margin-left: 10px;
}

.zav-DatasetVersion {
	text-align: center;
}
.zav-DatasetVersion a {
	color: #ffffff;
}
.zav-DatasetVersion a:focus {
	outline: none;
}
